 .u-section-1 {
  min-height: 967px;
}

.u-section-1 .u-text-1 {
  margin: 44px auto 0;
}

.u-section-1 .u-text-2 {
  width: 680px;
  margin: 21px auto 0;
}

.u-section-1 .u-list-1 {
  margin-top: 21px;
  margin-bottom: 21px;
}

.u-section-1 .u-repeater-1 {
  min-height: 912px;
  grid-template-columns: 100%;
  grid-gap: 16px 16px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px;
}

.u-section-1 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-btn-3 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 10px;
}

.u-section-1 .u-btn-4 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-btn-5 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 10px;
}

.u-section-1 .u-btn-6 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-btn-7 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 10px;
}

.u-section-1 .u-btn-8 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 21px auto 0;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  min-height: 717px;
}

.u-section-2 .u-text-1 {
  margin: 44px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 26px;
  margin-bottom: 44px;
}

.u-section-2 .u-repeater-1 {
  min-height: 680px;
  grid-template-columns: 100%;
  grid-gap: 16px 16px;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-btn-1 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-btn-2 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-btn-3 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 10px;
}

.u-section-2 .u-btn-5 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 21px auto 0;
  padding: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-btn-6 {
  border-style: none none solid;
  font-size: 1.5rem;
  margin: 21px auto 0;
  padding: 0;
}